.action-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;

  &__text {
    font-weight: 700;
    font-size: 22px;
    text-align: left;
    margin-right: 24px;
  }
  &__arrow {
    width: 16px;
    height: 16px;
    background-image: url('./../assets/arrow-up.svg');
    background-size: cover;
    display: inline-block;
    &--big {
      width: 40px;
      height: 40px;
    }
    &--rotate {
      transform: rotate(180deg);
    }
  }
  &--active {
    filter: $yellow-filter;
  }
  &:hover {
    filter: $white-filter;
  }
}
