.header {
  position: absolute;
  width: 100%;
  z-index: 4;
  padding-top: 30px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(5, 1fr) repeat(1, 1fr);
    align-items: flex-start;
    width: 100%;
  }
  &__logo {
    grid-column: span 2;
    z-index: 99;
  }
  &__hamburger {
    z-index: 99;
    grid-column-start: 9;
  }
  &__menu {
    grid-column: span 5;
    @include lg {
      grid-column: span 6;
    }
  }

  &__menu.active {
    transform: translateX(0);
  }
}
