.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(100vw);
  background-color: $blue;
  overflow-y: auto;

  @include lg {
    position: static;
    background-color: transparent;
    transform: translateX(0);
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    height: fit-content;
  }
}
