.section-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  color: white;

  &--black {
    color: #000;
  }
  &--big {
    font-size: 48px;
    line-height: 74px;
    text-align: center;
    max-width: 300px;
    margin-inline: auto;

    @include sm {
      text-align: left;
      line-height: 65px;
      font-size: 65px;
      margin-inline: 0;
    }

    @include sm-mobile-landscape {
      font-size: 48px;
      line-height: 52px;
    }
  }
}
