.faq {
  background-color: $blue;
  padding-block: 80px;

  &__bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    padding-bottom: 40px;
    padding-top: 20px;
    @include md {
      flex-direction: row;
      column-gap: 15px;
      padding-bottom: 60px;
    }
    @include lg {
      column-gap: 30px;
      padding-bottom: 80px;
    }
  }

  &__bookmark-text.active {
    color: $yellow;
    &:hover {
      color: white;
    }
  }
  &__bookmark-text &:hover {
    color: white;
  }

  &__content {
    width: 100%;
    display: none;
    opacity: 0;
    &--active {
      display: block;
      opacity: 1;
    }
  }
  &__list {
    columns: 1;

    column-gap: 12px;
    @include lg {
      columns: 2;
      column-gap: 15px;
    }
    @include lg {
      column-gap: 30px;
    }
  }

  &__item {
    list-style: none;
    width: 100%;
    padding-bottom: 12px;
    transition: all 0.1s linear;
    break-inside: avoid;
    &:first-child {
      .faq__question.active {
        margin-top: 0;
      }
    }
  }

  &__question {
    color: white;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 12px 0 12px 10px;
    @include md {
      padding: 20px 40px;
    }
  }

  &__question.active {
    color: #000;
    background-color: white;
    border-radius: 32px;
    padding: 20px 0 20px 28px;
    margin-block: 15px;

    @include md {
      padding: 40px 0 40px 40px;
      margin-block: 32px;
    }
    .faq__description {
      display: block;
    }
    .faq__btn {
      justify-content: center;
    }
  }
  &__question-header {
    grid-column: span 5;
    font-size: 20px;
    font-weight: 700;
  }

  &__description {
    grid-column: span 5;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 12px;
    display: none;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    grid-column: 6;
    @include md {
      justify-content: flex-end;
    }
  }
}
